@import "variables";

.navbar{
  background-color: #F2F3F8;
}

.textInput{
  border-radius: 20px;
}

.segmented{
  background-color: white;
  border-radius: 26px;
}

.segmentedIndicator{
  background-color: $accent;
  border-radius: 26px;
}

.segmentedLabel{
  &[data-active="true"]{
    color: white;
  }
}

.badge{
  font-weight: 400;
  text-transform: none;
  background-color: $gray;
  border: 1px solid $grayBorder;
  color: black;

  &[data-size="xl"]{
    height: 35px;
  }

  &[data-variant='checkbox']{
    cursor: pointer;
  }

  &[data-variant='checkbox-checked']{
    cursor: pointer;
    background-color: crimson;
    color: white;
    border: none;
  }
}

.carouselViewport{
  border-radius: 22px;
}

.carouselControls{
  z-index: 102;
  width: calc(100% + 130px);
  left: -65px;
}

.button{
  max-width: 380px;
  font-weight: 400;
  border-radius: 10px;

  &[data-variant='gray']{
    background-color: #A6A9BE;
    font-weight: 400;
  }
  &[data-variant='input']{
    min-width: 100%;
    background-color: #d9d9d9;
    color: black;
    font-weight: 400;
    display: flex;
    padding-left: 20px;
  }
}

.input{
  background-color: white;
  border-radius: 10px;
  color: black;
  border: none;
  position: relative;

  &:disabled{
    cursor: default;
    background-color: white;
    opacity: 1;
    color: black;
  }

  &::placeholder{
    color: #7B7E8F;
  }

  &[data-error="true"]{
    border: 2px solid crimson;
  }
}

.numberInput, .textarea{
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  padding-left: 16px;
}

.accordionControl{
  height: 36px;
}

.timeInput{
  border: 1px solid #d9d9d9;
  border-radius: 8px;
}

.calendarDay{
  &[data-selected="true"]{
    background-color: crimson;
  }
}
